
@media screen and (min-width: 480px) {
    .body_ureg {
         background-color:#f7f3ed;
    }
}

#reg_h2{
    color:#128fe8 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 80 px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2%;
}

.row1{
    background-color: #f7f3ed;
}
.row2{
    background-color:#f7f6f4;
}

.row3{
    background-color:#f9f5ef ;
}

.body_udetail{
    background-color:#f4d7ad ;
}

.udetail_h1{
    color: #561b39;
    padding-top: 2.5%;
    padding-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.udetail_h2{
    color:#7c2665 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2%;
}

.required {  /* Marker for required fields */
   color: red;
   font-size: 20px;
}

.labelclr{
    color: #ef6651;
}